// colors
$font-color-dark: #305F6D;
$font-color-bright: #8CA0A6;
$link-color: #46B4D5;
$hover-color: #46B4D4;
$active-button-color: #22CBFF;
$footer-bg: #485053;
$border-color: rgba(139, 159, 166, 0.3);
$background-color: #F5FBFD;

// fonts
$main-font: 'Sunflower', sans-serif;
$add-font: 'Roboto', sans-serif;

// other
$main-transition: all .3s linear;
$main-spacing: 0.03em;
$main-opacity: 0.5;